@page "/employeedetail/{EmployeeId}"
@inherits EmployeeDetailBase

<h3>EmployeeDetail</h3>

<div>
    <div>@Employee.Id</div>
    <div>@Employee.DepartmentId</div>
    <div>@Employee.Name</div>
    <div>@Employee.BirthDate</div>
    <div>@Employee.Gender</div>
</div>